.carousel {
  padding-top: 30px;
  height: 353px;
  width: 900px;
  margin: 0 auto;
  position: relative;

  .title {
    color: $lightestGray;
    font-weight: 300;
    padding-bottom: 15px;
  }

  button.arrow{
    position: absolute;
    width: 45px;
    height: 120px;
    z-index: 5;
    transform: translateY(-35%);
    cursor: pointer;
  }

  .left-btn {
    top: 50%;
    left: -45px;
    border: none;
    background: linear-gradient(to left, transparent 5%, rgba(0,0,0,0.3) 95%);
    &:hover {
      background: linear-gradient(to left, transparent 5%, rgba(255,255,255,0.3) 95%);
    }

  }

  .right-btn {
    top: 50%;
    right: -45px;
    border: none;
    background: linear-gradient(to right, transparent 5%, rgba(0,0,0,0.3) 95%);

    &:hover {
      background: linear-gradient(to right, transparent 5%, rgba(255,255,255,0.3) 95%);
    }
  }

  div.carousel-tab {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -50px;
    display: flex;
    flex-direction: row;

    div.tab {
      margin: 0 4px;
      width: 20px;
      height: 10px;
      border-radius: 2px;
      background-color: rgba(255, 255, 255, 0.2);
      cursor: pointer;

      &.active {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}