.carousel {
  padding-top: 30px;
  height: 353px;
  width: 900px;
  margin: 0 auto;
  position: relative;

  button.arrow{
    position: absolute;
    width: 45px;
    height: 120px;
    z-index: 5;
    transform: translateY(-35%);
    cursor: pointer;
  }

  .left-btn {
    top: 50%;
    left: -45px;
  }

  .right-btn {
    top: 50%;
    right: -45px;
  }
}