.carousel {
  padding-top: 30px;
  height: 400px;
  width: 870px;
  margin: 0 auto;
  position: relative;
  
  .carousel-item {
    width: 870px;
    height: 100%;
    position: absolute;
    display: flex;

    .item-display {
      height: 100%;
      width: 100%;
      display: flex;

      .main-image {
        flex-grow: 2;
      }

      .info-container {
        flex-grow: 1;
      }
    }
  }

  button.arrow{
    position: absolute;
    width: 50px;
    height: 120px;
    z-index: 5;
    transform: translateY(-35%);
    cursor: pointer;
  }

  .left-btn {
    top: 50%;
    left: -50px;
  }

  .right-btn {
    top: 50%;
    right: -50px;
  }
}