.user-dropdown {
  background-color: #171a21;
  color: $grayTextColor;
  display: none;
  box-shadow: 2px 2px 5px 5px black;
  min-width: 100px;

  &.show {
    display:inline-block;
    position: absolute;
    display: block;
    right: 1px;
    top: 20px;
  }

  li {
    padding: 3px 7px;
    white-space:nowrap;
    cursor: pointer;
    &:hover {
      color: white;
    }

    span {
      color: #57cbde;
    }
  }
}

