.user-dropdown {
  background-color: $darkestBlue;
  color: $lighterGray;
  display: none;
  box-shadow: 2px 2px 5px 5px black;
  min-width: 100px;
  z-index: 10;

  &.show {
    display:inline-block;
    position: absolute;
    display: block;
    right: 1px;
    top: 20px;
  }

  li {
    padding: 3px 7px;
    white-space:nowrap;
    cursor: pointer;
    &:hover {
      color: $lightestGray;
    }

    span {
      color: $lightBlue;
    }
  }
}

