.game-display {
  width: 940px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(-45deg, rgba(0,0,0, .35) 5%, rgba(0,0,0, 0) 95%);

  div.img-container {
    width: 600px;
    
    img.main-img {
      width: 600px;
      height: 340px;
    }
    ul.screenshot-list {
      display: flex;
      flex-direction: row;

      
      img.screenshot-img {
        width: calc(120px );
        height: auto;
        padding: 2px;

        &.active {
          border: 2px solid $lightestGray;
        }
      }

    }
  }
}