.game-list {
  display: flex;
  flex-direction: row;
  position: relative;
  
  div.game-list-header {
    position: absolute;
    top: -30px;
    left: 0px;
    font-size: 1rem;
    width: 500px;
    height: 30px;
    background-color: rgba(0,0,0,0.3);

    h3.game-list-title {
      padding: auto 0;
      color: $lightestGray
    }
  }
}