.game-list-item {
  background: linear-gradient(45deg, rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.3) 80%);
  width: 500px;
  height: 70px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-self: right;
  position: relative;

  &.active {
    background: none;
    background-color: $lighterBlue;

    div.list-info-container {

      h3.game-title,
      p.game-genre,
      p.price-tag {
        color: $darkGray;
      }
    }

  }
  
  img.header-img {
    height: 70px;
    width: auto;
  }
  
  div.list-info-container {
    flex: 1;
    position: relative;
    
    h3.game-title {
      position: absolute;
      font-size: .9rem;
      top: 10px;
      left: 10px;
      color: $lightestGray;
      font-weight: 200;
    }
    
    p.windows {
      position: absolute;
      font-size: .9rem;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      color: $lightGray
    }

    p.game-genre {
      position: absolute;
      font-size: 0.75rem;
      bottom: 10px;
      left: 10px;
      color: $lightGray
    }
    
    p.price-tag {
      position: absolute;
      top: 50%;
      right: 10px;
      font-size: 0.75rem;
      transform: translateY(-50%);
      color: $lighterBlue;
    }
  }
  .gap {
    position: absolute;
    right: -15px;
    height: 100%;
    width: 15px;
    background-color: $lighterBlue;
  }
}