div.genre-page {
  width: 100%;
  min-height: 800px;

  div.genre-main-content {
    margin: 0 auto;
    position: relative;    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }

  div.genre-carousel {
    margin-bottom: 100px;
    height: calc(353px + 15px + 2.5rem);

    h1.title {
      font-size: 2rem;
    }
  }
}