div.review-form-container {
  margin-top: 40px;
  
  div.review-body {
    padding: 15px;
    padding-right: 20px;
    background: linear-gradient(-45deg, rgba(75 ,75, 75, .4) 65%, rgba(50 ,50, 50, .4) 95%);

    div.review-intro {
      h3.review-title {
        font-size: 1.25rem;
        color: $lighterBlue;
        margin-bottom: 7px;
        font-weight: 100;
      }

      div.review-info {
        margin-bottom: 15px;

        p {
          font-size: 0.9rem;
          color: $lightGray;
          margin-bottom: 3px;
        }
      }

    }
    form.review-form {
      display: flex;
      flex-direction: row;

      img.current-pfp {
        width: 95px;
        height: 95px;
        margin-right: 20px;
        border: 1px solid $gray;
      }

      div.review-inputs {
        flex: 1;

        textarea.review-body {
          width: 100%;
          min-height: 150px;
          border-radius: 5px;
          background: $darkBlue;
          color: $lighterGray;
          padding: 10px;

          &:focus {
            outline: none !important;
            border: 2px solid $lighterBlue;
          }
        }

        div.review-bottom {
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          div.recommend {
            h3.recommend-title {
              color: $lightGray;
              margin-bottom: 5px;
              font-size: 0.9rem;
            }

            div.recommend-buttons {

              button.rec-yes,
              button.rec-no {
                padding: 5px 17px;
                color: $lighterBlue;
                background-color: rgba( 103, 193, 245, 0.2 );
                border: none;
                border-radius: 3px;
                margin-right: 5px;
                cursor: pointer;
                position: relative;

                i.fa-thumbs-up,
                i.fa-thumbs-down {
                  font-size: 1.25rem;  
                  margin-right: 5px;
                }

                i.fa-check {
                  display: none;
                }

                &:hover {
                  color: $lightestGray;
                  background: linear-gradient(125deg, hsl(188, 67%, 50%) 10%, hsl(188, 67%, 43%) 30%);
                }

                &.active {
                  background-color: rgba( 103, 193, 245, 0.75 );
                  i.fa-thumbs-up,
                  i.fa-thumbs-down {
                    color: rgba(0 ,0 ,0, 0.25)
                  }

                  i.fa-check {
                    display: block;
                    position: absolute;
                    top: 6px;
                    left: 16px;
                    font-size: 1.15rem; 
                    color: $lightestGray;
                  }
                }
              }
            }
          }

          button.submit-review {
            color: $darkestGray;
            padding: 9px 16px;
            margin-right: 5px;
            border-radius: 4px;
            border: none;
            background: rgba(193,228,249,.8);
            border: 1px solid $darkestGray;
            cursor: pointer;

            &:hover {
              background: linear-gradient(to top, hsl(202, 88%, 60%) 60%, hsl(202, 88%, 68%) 95%);
            }
          }
        }
      }
    }
    
  }

}