div.session-form {

  input {
    margin-top: 5px;
    background-color: $darkGray;
    border: none;
    height: 2rem;
    border-radius: 2px;
    color: $lightestGray;
    font-size: .9rem;

    &.focus {
      border: 2px solid $lightestGray;
    }
  }

  button.submit-btn {
    font-size: 1.1rem;
    width: fit-content;
    padding: 8px 80px;
    color: $lightestGray;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    background: linear-gradient(45deg, $skyBlueLight 5%, $skyBlueDark 95%);
  }
}