@import '../variables';

.signup-container {
  width: 60vw;
  min-width: 400px;
  min-height: 800px;
  margin: 0 auto;
  padding: 40px;

  .title {
    font-size: 34px;
    margin-bottom: 20px;
    text-align: left;
    color: $lightestGray;
    padding: 20px 0;
    font-weight: 200;
  }

  .username-input,
  .password-input {
    width: 300px;
    color: $lighterGray;
    padding-bottom: 20px;
    
    div {
      padding: 5px 0;
    }

    input {
      width: 100%;
      padding: 5px;
    }

  }
  .submit-btn {
    width: fit-content;
    background-color: $skyBlueLight;
    padding: 10px 80px;
    color: $lightestGray;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .demo-link {
    margin: 20px 0;
    color: $lighterGray;
    cursor: pointer;
    &:hover {
      color:$lighterBlue;
    }
  }
}