.error-container {
  border: 1px solid red;
  color: white;
  text-align: center;
  margin-bottom: 20px;
  width: 300px;

  p {
    padding: 20px;
  }

}
.hidden {
  display: none;
  transition: display 1s linear;
}