$lighterBlue: #66C0F4;
$lightBlue: #57cbde;
$blue3: #67c1f5;
$blue1: #2A475E;
$blue2: #2a3f5a;
$darkBlue: #1b2838;
$darkestBlue: #171a21;
$darkestGray: #0E141B;
$darkerGray: #23262E;
$darkGray: #3D4450;
$gray: #67707B;
$lightGray: #8B929A;
$lighterGray: #b8b6b4;
$lightestGray: #DCDEDF;
$red: #b44040;
$forestGreen: #5c7e10;

$skyBlueLight:#47bfff;
$skyBlueDark: #1a44c2;